body {
	font-family: "Lato", sans-serif;
}

a {
	color: #463c5b;
	text-decoration: none;
}

h1 {
	font-size: 300%;
	margin-bottom: 5px;
}

h2 {
	color: #7b738c;
	margin-top: 30px;
	margin-bottom: 15px;
}

h2 {
	font-size: 200%;
}

h3 {
	font-size: 150%;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 0;
}

h4 {
	font-size: 110%;
	margin-top: 5px;
}

hr {
	border: 0;
	height: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(123, 115, 140, 0.5), rgba(0, 0, 0, 0));
}

img {
	display: flex;
	max-width: 100%;
	height: auto;
}

p {
	font-size: 16px;
}

.center {
	text-align: center;
	margin: auto;
}

.head {
	color: #5e5667;
	display: block;
	font-weight: 200;
	letter-spacing: 1.5px;
	text-align: right;
	text-transform: uppercase;
}

.feat-text {
	color: #554870;
}

.logo {
	width: 150px;
	height: 150px;
}

.project-img {
	margin: auto;
}

@media screen and (max-width: 475px) {
	h1 {
		font-size: 200%;
	}
	
	h2,
	h3 {
		font-size: 125%;
	}
	
	h4 {
		font-size: 100%;
	}
	
	.container {
		padding: 10px;
	}
}

@media screen and (min-width: 476px) and (max-width: 550px) {
	h1 {
		font-size: 240%;
	}
	
	h2,
	h3 {
		font-size: 140%;
	}
	
	h4 {
		font-size: 105%;
	}
}
@media screen and (min-width: 476px) and (max-width: 750px) {
	.container {
		padding: 30px;
	}
}

@media screen and (min-width: 551px) and (max-width: 700px) {
	h1 {
		font-size: 275%;
	}
	
	h2 {
		font-size: 150%;
	}
}

@media screen and (max-width: 600px) {
	.block2 {
		display: block;
	}
	
	.full2 {
		width: 100%;
	}
}

@media screen and (min-width: 650px) and (max-width: 900px) {
	.featured {
		display: flex;
	}
	
	.feat-text {
		text-align: center;
		margin: auto;
		display: inline;
	}
	
	.project-img {
		margin: 0;
	}
}

@media screen and (min-width: 701px) and (max-width: 900px) {
	h2 {
		font-size: 175%;
	}
}

@media screen and (max-width: 900px) {
	.block {
		display: block;
	}
	
	.full {
		width: 100%;
	}
}

@media screen and (max-width: 1200px){
	.project-img {
		padding: 15px;
	}
}
