* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* Entire body must be wrapped in container */
.container {
	margin: auto;
/* Padding size variable, depending on project */
	padding: 50px;
}

.row {
	width: 100%;
	display: flex;
}

/* 1/12 */
.col-1 {
	width: 8.33333%;
}

/* 1/6 */
.col-2 {
	width: 16.66667%;
}

/* 1/4 */
.col-3 {
	width: 25%;
}

/* 1/3 */
.col-4 {
	width: 33.33333%;
}

/* 5/12 */
.col-5 {
	width: 41.666667%;
}

/* 1/2 */
.col-6 {
	width: 50%;
}

/* 7/12 */
.col-7 {
	width: 58.33333%;
}

/* 2/3 */
.col-8 {
	width: 66.66667%;
}

/* 3/4 */
.col-9 {
	width: 75%;
}

/* 5/6 */
.col-10 {
	width: 83.33333%;
}

/* 11/12 */
.col-11 {
	width: 91.66667%;
}

/* 12/12, full row */
.col-12 {
	width: 100%;
}