/* styling by HTML element */

a {
	color: rgb(159, 70, 255);
	text-decoration: none;
}

/* if mouse is clicking link */

a:active {
	color: rgb(109, 13, 219);
}

body {
	margin-top: 0px;
    margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: black;
}

button {
    background-color: rgba(95, 0, 173, .7);
    border: 2px solid rgb(117, 76, 232);
    color: black;
	font-family: 'Bellefair', serif;
	font-weight: 600;
	width: 300px;
    padding: 15px 32px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0, .2);
	background: url("images/Explosions.jpg");
    color: rgb(159, 70, 255);
}

h1 {
	font-family: 'Cinzel Decorative', cursive;
	padding: 20px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 900;
	color: rgb(199, 0, 255);
}

hr { 
	border : 0;
	height: 2px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(95, 0, 173, .7), rgba(0, 0, 0, 0)); 
}

ul {
	color: rgb(127, 0, 255);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	text-align: justify;
	margin-left: 125px;
	margin-right: 125px;
}

/* styling by class */

.boxpad {
	padding: 20px;
}

.centerized {
	text-align: center;
	margin: auto;
}

.colors {
	color: #7200ff;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.inline {
	display: inline-block;
}

div.box {
	background-color: rgba(106, 0, 255, .1);
	border-radius: 25px;
	padding: 5px;
}

div.margin {
	margin: 20px;
}

div.wall {
	display: inline-block;
}

.largepadded {
	padding: 30px;
}

.par {
	text-indent: 40px;
	text-align: justify;
	color: #6a00ff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
}

.parpad {
	padding-top: 12px;
}

.sampcap {
	color: #9000ff;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 15px;
}
	

/* styling by id */

div#main {
	background-image: url("images/ShootingStar.jpg");
	height: 100%;
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0px;
}

div#samplemain {
	background-image: url("images/Purple.png");
	height: 100%;
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0px;
}

div#nextimgset {
	background-image: url("images/OnBlack.jpg");
	height: 100%;
	width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0px;
}

div#purpleswirls {
	background-image: url("images/TwistBack.png");
	height: 100%;
	width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0px;
}

div#purple {
	margin-top: 125px;
	margin-left: 125px;
	margin-right: 125px;
	background-color: black;
	color: rgb(152, 0, 255);
	border-radius: 25px;
    border: 2px solid rgb(0, 255, 229);
    padding: 30px;
}

div#requirements {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.5em;
	margin-top: 300px;
	margin-left: 125px;
	margin-right: 125px;
	border-radius: 25px;
    border: 2px solid #ff0072;
    padding: 30px;
}

table#colors {
    border-collapse: collapse;
}

/* define multiple elements by separating with a comma */

table#colors th, table#colors td {
    border: 3px solid purple;
    padding: 5px;
}